# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env*
public/sitemap_*.xml
public/robots.txt
public/keywords.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
sentry-cli